nav(class=['sb-sidenav', 'accordion'] class=sidenavStyle)#sidenavAccordion
        
    .sb-sidenav-menu
        
        .nav
    
            .sb-sidenav-menu-heading
                | Core
        
            a.nav-link(href='index.html')
                .sb-nav-link-icon
                    i.fas.fa-tachometer-alt
                | Dashboard
                        
    .sb-sidenav-footer
        
        .small Logged in as:
        | Start Bootstrap
