extends ../layouts/error.pug

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 403
                    p.lead Forbidden
                    p Access to this resource is denied.
